@use "sass:map";
@import "custom-palette";

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  background-color: map.get($custom-palette, 700);
  height: 100%;

  .sidenav-content {
    padding-left: 10px;
    padding-right: 20px;
  }

  .sidenav {
    border: none;
    max-width: 330px;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #3fb53f;
  }
}
