$custom-palette: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #e7e7e8,
    100: #c4c4c5,
    200: #9c9d9e,
    300: #747577,
    400: #575859,
    500: #393a3c,
    600: #333436,
    700: #2c2c2e,
    800: #242527,
    900: #17181a,
    A100: #5db95b,
    A200: #5db95b,
    A400: #5db95b,
    A700: #5db95b,
  ),
);
