<mat-progress-bar
  *ngIf="isLoading; else blogArticle"
  mode="indeterminate"
></mat-progress-bar>

<ng-template #blogArticle>
  <mat-card *ngIf="article" class="mat-elevation-z0 card">
    <mat-card-header>
      <img
        mat-card-avatar
        src="{{ article.author.avatarUrl || defaultUserAvatarUrl }}"
        alt="Author's avatar"
      />
      <mat-card-subtitle>
        <a
          [routerLink]="['/article']"
          [queryParams]="{ author: article.author.id }"
          class="author"
        >
          {{ article.author.firstName }} {{ article.author.lastName }}
        </a>
        <div class="creation-date">
          {{ article.createdAt | date: "longDate" }}
        </div>
      </mat-card-subtitle>
      <div class="spacer"></div>
      <bb-liked-by
        [likedBy]="article.likedBy"
        (likedByClicked)="onLikedByClicked()"
        [isLikedByUser]="isLikedByUser"
      ></bb-liked-by>
    </mat-card-header>

    <mat-card-title class="card-description">{{
      article.description
    }}</mat-card-title>
    <mat-card-content class="card-content">{{ article.text }}</mat-card-content>

    <mat-card-footer *ngIf="article.tags.length">
      <mat-chip-list>
        <mat-chip
          *ngFor="let tag of article.tags"
          [routerLink]="['/article']"
          [queryParams]="{ tag: tag.id }"
          class="tag"
          >{{ tag.name }}</mat-chip
        >
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>
</ng-template>
