<mat-card class="mat-elevation-z0 tags-card">
  <mat-card-title class="tags-card-title">Popular Tags</mat-card-title>
  <mat-card-content>
    <mat-chip-list *ngIf="tags?.length; else noTags">
      <mat-chip
        *ngFor="let tag of tags"
        [routerLink]="['/article']"
        [queryParams]="{ tag: tag.id }"
        class="tag"
        >{{ tag.name }}</mat-chip
      >
    </mat-chip-list>

    <ng-template #noTags>
      <div>No tags are here... yet.</div>
    </ng-template>
  </mat-card-content>
</mat-card>
