@use "sass:map";
@import "../../custom-palette.scss";

.spacer {
  flex: 1 1 auto;
}

.card {
  font-size: 1rem;
}

.author {
  color: map.get($custom-palette, "contrast", "A400");
  font-weight: 500;
  text-decoration: none;
}

.creation-date {
  color: map.get($custom-palette, "contrast", 200);
  font-size: 0.7rem;
}

.card-description {
  color: map.get($custom-palette, "contrast", 200);
  font-style: italic;
  font-size: 1.4rem;
}

.card-content {
  color: map.get($custom-palette, "contrast", 900);
  font-size: 1.2rem;
}

.article-link {
  font-size: 0.7rem;
  color: map.get($custom-palette, "contrast", 200);
  text-decoration: none;
}

.card-actions {
  margin: 0px;
  padding: 0px;
}
