<mat-card class="mat-elevation-z0 card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="{{ article.author.avatarUrl || defaultUserAvatarUrl }}"
      alt="Author's avatar"
    />
    <mat-card-subtitle>
      <a href="/user/{{ article.author.id }}" class="author">
        {{ article.author.firstName }} {{ article.author.lastName }}
      </a>
      <div class="creation-date">
        {{ article.createdAt | date: "longDate" }}
      </div>
    </mat-card-subtitle>
    <div class="spacer"></div>
    <bb-liked-by
      [likedBy]="article.likedBy"
      (likedByClicked)="onLikedByClicked()"
      [userId]="userId"
    ></bb-liked-by>
  </mat-card-header>

  <mat-card-title class="card-title">{{ article.title }}</mat-card-title>
  <mat-card-content class="card-content">{{ article.description }}</mat-card-content>

  <mat-card-actions class="card-actions">
    <a href="/article/{{ article.id }}" class="article-link">Read more...</a>
  </mat-card-actions>
</mat-card>
