<form [formGroup]="newArticleForm" fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="title?.invalid && (title?.dirty || title?.touched)">
      {{ getTitleFieldValidationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
    <mat-error
      *ngIf="
        description?.invalid && (description?.dirty || description?.touched)
      "
    >
      {{ getDescriptionFieldValidationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Text</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="10"
      formControlName="text"
    ></textarea>
    <mat-error *ngIf="text?.invalid && (text?.dirty || text?.touched)">
      {{ getTextFieldValidationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag.id)">
        {{ tag.name }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Add tag..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        matChipInputAddOnBlur
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end">
    <button
      mat-stroked-button
      (click)="onSubmit()"
      [disabled]="!newArticleForm.valid"
      class="button"
    >
      Save
    </button>

    <button mat-stroked-button (click)="onCancel()" class="button">
      Cancel
    </button>
  </div>
</form>
