<form [formGroup]="newArticleForm" class="form">
  <mat-form-field appearance="fill" class="field">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="title?.invalid && (title?.dirty || title?.touched)">
      {{ getTitleFieldValidationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
    <mat-error
      *ngIf="
        description?.invalid && (description?.dirty || description?.touched)
      "
    >
      {{ getDescriptionFieldValidationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Text</mat-label>
    <textarea matInput formControlName="text"></textarea>
    <mat-error *ngIf="text?.invalid && (text?.dirty || text?.touched)">
      {{ getTextFieldValidationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
        {{ tag }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Add tag..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        matChipInputAddOnBlur
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <button
    mat-icon-button
    (click)="onSubmit()"
    [disabled]="!newArticleForm.valid"
  >
    Save
  </button>
</form>
